.table-info {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .icons-container {
    margin-left: auto;
    margin-right: 16px;
  }
  span {
    width: 200px;
    text-align: center;
    padding: 16px 16px 16px 16px;
  }
  .icon {
    padding: 0 4px 0 4px;
    width: 30px;
    cursor: pointer;
  }

  .save-icon {
    @extend .icon;
    color: rgb(0, 86, 172);
  }
  .trash-icon {
    @extend .icon;
    color: rgb(156, 3, 28);
  }
}
