@import '~compass-sass-mixins/lib/compass';

.row-container {
  display: inline-flex;
  flex-direction: row;
  background: whitesmoke;
  .row-cell {
    display: block;
    border: 1px solid black;
    margin: 4px;
  }
}

.workType-cell {
  @extend .cell !optional;
  padding: 8px;
  white-space: nowrap;
}
.date-cell {
  @extend .cell !optional;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  background-color: transparent;
  border: 0px solid white;
  &:focus {
    outline: none;
    background-color: white;
  }
}
.summation-cell {
  @extend .cell !optional;
  margin-left: 50px;
  text-align: center;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
