<div style="display: flex">
  <div (mouseover)="!sidenav.opened?sidenav.open():''">
    <mat-sidenav-container class="sidebar-container">
      <mat-sidenav #sidenav mode="side" (mouseleave)="sidenav.close()" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <div class="sidebar-content">
          Sidenav content with a longer fucking text\
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>


    <router-outlet></router-outlet>
</div>
