.sidebar-container {
  height: 100vw;
  background: #3a3633;
  padding-right: 10px;
}
.sidebar-slide {
  // height: 100vw;
  min-width: 20px;
}
.mat-drawer {
  background: #3a3633;
}
.sidebar-content {
  display: inline-block;
  min-width: 200px;
  color: whitesmoke;
  background: #3a3633;
}
