<div style="display: flex">
  <div (mouseover)="!sidenav.opened?sidenav.open():''">
    <mat-sidenav-container class="sidebar-container">
      <mat-sidenav #sidenav mode="side" (mouseleave)="sidenav.close()" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <div class="logo-placeholder">
            <img style="padding-top:8px;width:200px;height: auto;" src="assets/small-logo-500px.png">
        </div>
        <div class="sidebar-content">
            <a class="sidenav-link" routerLink="/pocetna">Početna</a>
            <a class="sidenav-link" routerLink="/tabela">Nova Lista</a>
            <a class="sidenav-link" routerLink="/administracija">Administracija</a>
            <a class="sidenav-link" routerLink="/izvestaji">Izveštaji</a>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>


    <router-outlet></router-outlet>
</div>
